<div  id="MainProductArchive" class="uk-margin-top" data-template="product-archive.twig">
	
	<div id="ToolbarNav" class="uk-section uk-section-small" hidden>
	  <div id="ShopArchiveTitle" class="uk-text-left">
	    <h1 class="woocommerce-products-header__title page-title uk-margin-remove-bottom font-2">{{ title }}</h1>
	  </div>
	</div>
	
	<div uk-grid>
		
		<div class="uk-width-1-4">
			<aside id="ProductFilters">
				<ul uk-accordion="multiple: true">
					<li class="uk-open">
						<a class="uk-accordion-title uk-text-bold" href="#">Sort by:</a>
						<div class="uk-accordion-content">
							{% do action('woocommerce_before_shop_loop') %}
						</div>
					</li>
			    <li class="uk-open">
		        <a class="uk-accordion-title uk-text-bold" href="#">Categories</a>
		        <div class="uk-accordion-content">
							<ul class="uk-nav uk-nav-default uk-height-medium uk-overflow-auto uk-margin-small-bottom">
								
								<!-- foreach parent product_cat in product_cats_for_filters function -->
				        {% for cat in product_cats_for_filters %}
				        
									<!-- check if product_cat has chldren using product_cat_has_children function -->
				          {% if function ('product_cat_has_children', cat.term_id) %}
				          
										<!-- active check for if global current product_cat query var equals the current product_cat in filters -->
				            <li class="uk-parent">
											
											<!-- add query arg url based on product_cat slug & escape output -->
				              <a href="{{ function ('add_query_arg_product_cats_for_filters', cat.slug) }}" data-pjax>
												
				                <input class="uk-radio" type="radio" {% if function('get_query_var', 'product_cat', '') == cat.slug %}checked{% endif %}>
												
												{{ cat.name }}
												
												<!-- sub product_cat element -->
				                <ul class="uk-nav-sub">
													
													<!-- foreach sub product_cat in subs_product_cats_for_filters -->
				                  {% for sub_cat in function ('subs_product_cats_for_filters', cat.term_id) %}
				                    <li>
				                      <a href="{{ function ('add_query_arg_product_cats_for_filters', sub_cat.slug) }}" data-pjax>
																
				                        <input class="uk-radio" type="radio" {% if function('get_query_var', 'product_cat', '') == sub.slug %}checked{% endif %}> {{ sub_cat.name }}
				                      </a>
				                    </li>
				                  {% endfor %}
													
				                </ul>
												
				              </a>
											
				            </li>
				            
									<!-- if product_cat has no subs -->
				          {% else %}
				          
										<!-- product_cat with no children element -->
				            <li>
				              <a href="{{ function ('add_query_arg_product_cats_for_filters', cat.slug) }}" data-pjax>
												
				                <input class="uk-radio" type="radio" {% if function('get_query_var', 'product_cat', '') == cat.slug %}checked{% endif %}> {{ cat.name }}
				              </a>
				            </li>
				            
				          {% endif %}
									<!-- /check if product_cat has chldren using product_cat_has_children function -->
									
				        {% endfor %}
								<!--/ foreach parent product_cat in product_cats_for_filters function -->
								
								<!-- if cat filters are empty; no categories with products exist -->
								{% if product_cats_for_filters is empty %}
					        <li>Add some products to some categories</li>
					      {% endif %}
								
				      </ul>
							<!-- cat filters reset; remove product_cat from query var -->
							<a class="uk-link-text uk-text-primary uk-text-small" style="text-decoration:underline" href="{{ function ('remove_query_arg', 'product_cat')|e('esc_url') }}" data-pjax>Reset</a>
		        </div>
			    </li>
				</ul>
	    </aside>
		</div>
		
		<div class="uk-width-3-4">
			
			<div id="ToolbarNav" class="uk-margin-bottom" data-template="shop-toolbar.twig">
			  
			  <div class="desktop-toolbar uk-visible@s">
			    <nav id="ShopToolbar" class="uk-navbar-container uk-navbar-transparent" uk-navbar>
						
						<div id="ShopToolbarLeft" class="uk-navbar-left pull-left-15">
							{% if product_sort_var_exists %}
							<div class="uk-navbar-item min-height-40">
								<a href="{{ function ('remove_query_arg', 'orderby')|e('esc_url') }}" data-pjax><span class="uk-badge">Sort by - Default<span uk-icon="icon: close;ratio: 0.8;" class="uk-margin-small-left uk-icon"></span></span></a>
							</div>
							{% endif %}
							{% if product_cat_var_exists %}
								<div class="uk-navbar-item min-height-40">
									<a href="{{ function ('remove_query_arg', 'product_cat')|e('esc_url') }}" data-pjax><span class="uk-badge">Category - Fruit<span uk-icon="icon: close;ratio: 0.8;" class="uk-margin-small-left uk-icon"></span></span></a>
								</div>
							{% endif %}
							{% if product_gridlist_var_exists %}
							<div class="uk-navbar-item min-height-40">
								<a href="{{ function ('remove_query_arg', 'grid_list')|e('esc_url') }}" data-pjax><span class="uk-badge">Grid List - List View<span uk-icon="icon: close;ratio: 0.8;" class="uk-margin-small-left uk-icon"></span></span></a>
							</div>
							{% endif %}
						</div>
						
			      <div id="ShopToolbarRight" class="uk-navbar-right pull-right-15">
			        <div id="GridList" class="uk-navbar-item min-height-40">
			          <a href="{{add_query_arg_grid_view|e('esc_url')}}" class="grid-toggle uk-button uk-button-default uk-button-small padding-0-10 uk-margin-small-right {{ grid_active_class }}" data-pjax><span uk-icon="grid"></span></a>
			          <a href="{{add_query_arg_list_view|e('esc_url')}}" class="list-toggle uk-button uk-button-default uk-button-small padding-0-10 {{ list_active_class }}" data-pjax><span uk-icon="icon: list"></span></a>
			        </div>
			      </div>
			    </nav>
			  </div>
			  
			  <div class="mobile-toolbar uk-hidden@s">
			    <h1 class="woocommerce-products-header__title page-title font-1.5">{{ title }}</h1>
			    <nav class="uk-navbar-container uk-navbar-transparent" uk-navbar>
			      <div class="uk-navbar-left pull-left-15">
			        <div class="uk-navbar-item min-height-40">
			          {% do action('woocommerce_before_shop_loop') %}
			        </div>
			      </div>
			      <div class="uk-navbar-right pull-right-15">
			        <div class="uk-navbar-item min-height-40">
			          <a class="uk-button uk-button-default uk-button-small" href="#FiltersMenu" uk-toggle>Filter</a>
			        </div>
			      </div>
			    </nav>
			  </div>
			  
			</div>
			
			<div id="ProductGrid" class="archive-posts products uk-child-width-1-2 uk-child-width-1-{{columns}}@m uk-grid-small uk-margin-medium-bottom" uk-grid="masonry: true">
		    
		    {% for post in products %}
		      {% include tease_template %}
		    {% endfor %}
		    {% if products is empty %}
		      {% do action('woocommerce_no_products_found') %}
		    {% endif %}
		    
			</div>
			{% include 'pagination.twig' with { pagination : products.pagination( { show_all: true, mid_size: 3, end_size: 2 } ) } %}
		</div>
		
	</div>
</div>