{{ fn('timber_set_product', post) }}


<div id="product-{{ post.id }}" {{ fn('post_class', ['entry', 'list-item', 'item'] ) }} data-template="tease-product-list.twig">
  <div class="uk-card uk-card-hover uk-card-body uk-padding-small theme-border uk-grid-match uk-grid-collapse uk-flex uk-flex-middle" uk-grid>
    {% do action('woocommerce_before_shop_loop_item') %}
    <div class="uk-width-1-4">
      <a class="single-product-image-link" href="{{ post.link }}">
        <img data-src="{{ post.thumbnail.src|resize(236, 293) }}" class="tease-product-image" alt="{{ post.thumbnail.alt }}" uk-img>
      </a>
      <img class="tease-product-image" src="https://organicforhealth.ie/wp-content/uploads/2020/11/8717496903938-1.jpg" alt="">
    </div>
    <div class="uk-width-expand">
      <div class="uk-padding">
        {% do action('woocommerce_before_shop_loop_item_title') %}
        <div class="tease-product-title">
          {% do action('woocommerce_shop_loop_item_title') %}
          <h3 class="uk-card-title"><a class="uk-link-heading" href="{{ post.link }}">{{ post.title }}</a></h3>
        </div>
        {% do action( 'woocommerce_after_shop_loop_item_title' ) %}
        {% do action('list_product_rating') %}
        {{ post.preview.read_more.length(12).read_more('...') }}
        <div class="tease-product-buttons">
        {% do action( 'woocommerce_after_shop_loop_item' ) %}
        </div>
      </div>
    </div>
  </div>
</div>


<div id="ProductItem" {{ fn('post_class', ['entry', 'list-item', 'item'] ) }} data-template="tease-product-list.twig">
  <div class="uk-card uk-card-hover uk-grid-collapse uk-margin" uk-grid>
    
    {% do action('woocommerce_before_shop_loop_item') %}
    
    <div id="ProductMedia" class="uk-width-1-4 uk-card-media-left uk-cover-container">
      <a href="{{ post.link }}">
        <img data-src="{{ post.thumbnail.src }}" alt="{{ post.thumbnail.alt }}" class="list-img" uk-cover uk-img>
      </a>
      {% do action('woocommerce_before_shop_loop_item_title') %}
    </div>
    
    <div id="ProductInfo" class="uk-card-body uk-width-expand" style="padding: 40px 20px 40px 40px;">
      <div uk-grid>
        
        <div class="uk-width-2-3">
          
          <div id="ShopProductTitle" class="uk-margin-small-bottom">
            <h3 class="uk-card-title"><a class="uk-link-heading" href="{{ post.link }}">{{ post.title }}</a></h3>
          </div>
          
          {% do action('list_product_rating') %}

          <div class="uk-margin-small-bottom">
            <p>{{ post.preview.read_more('') }}</p>
            <a href="{{post.link}}" title="Read More" class="">Read More details about this Product</a>
          </div>

        </div>
        
        <div class="uk-width-expand">
          {% do action('list_product_price') %}
          {% do action('list_product_add_to_cart') %}
        </div>
          
      </div>
    </div>
  </div>
</div>