<!DOCTYPE html>
<html {{site.language_attributes}}>

  <head>
    
    <meta charset="{{site.charset}}" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    {{ function('wp_head') }}
    
    {% block spec_styles %}
    {% endblock %}

    <script src="{{theme.link}}/assets/js/lib/infinite-scroll.pkgd.min.js"></script>
    
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Poppins:wght@400;600;700;800&display=swap" rel="stylesheet">
  
    <style>
      /* product boxes */
      .cpb_product_boxes_custom .cpb-boxes .cpb-inner {
        background: #f7fbf9;
        border: none;    
      }
      .cpb_product_boxes_custom .cpb-boxes .cpb-inner:hover:before {
        background: #20865f2e;
      }
      .cpb_product_boxes_custom .cpb-items .cpb-inner:hover .cpb-item-image:before {
        background-position: center 50%;
      }
      .cpb-custom-product-boxes-items .cpb-row {
        display: flex;
        flex-wrap: wrap;
        margin-right: unset;
        margin-left: -15px;
      }
      .right-boxes .uk-card {
        background: #fff;
        box-shadow: 0 14px 25px #00000029;
      }
      .cpb-boxes .uk-grid-column-small>*, .cpb-boxes.uk-grid-small>* {
        padding-left: 5px;
      }
      .cpb-boxes.uk-grid-small>.uk-grid-margin {
        margin-top: 5px;
      }
      span.cpb_category_filters_item {
        margin: 0 25px 0 0px;
        display: inline-block;
      }
      span.woocommerce-Price-amount {
        font-weight: 700;
      }
      .cpb_product_boxes_custom .cpb-boxes .cpb-inner:hover:before {
        opacity: 1;
        cursor: pointer;
        z-index: 100;
        background-image: url(/wp-content/plugins/custom-product-boxes/assets/images/remove-icon-light.png);
        background-position: center 45%!important;
        background-repeat: no-repeat!important;
        background-size: 50px!important;
      }
      .woocommerce .cpb-item-image img {
        border: 4px double #e8e8e8;
      }
      /* product image */
      /* .woocommerce div.product div.images img {
        height: 420px;
        width: 100%;
        object-fit: cover;
      } */
      .uk-light, .uk-overlay-primary {
        color: hsla(0,0%,100%,.9);
      }
    </style>
      
  </head>

  <body class="{{ body_class }} no-overflow" data-template="base.twig">
    <div id="ThemePreload" class="theme-preload"></div>

    {% block header %}
      {% include 'header.twig' %}
    {% endblock %}
    
    {% block main %}
      <main id="MainContent">
        {% block content %}
        
          {% block pageheader %}
          {% endblock %}
            
          {% block content_outer %}
            <section id="PageContent" class="uk-container">
              {% include 'breads.twig' %}
              {% block content_inner %}
                <p>Sorry, Nothing to Display!!</p>
              {% endblock %}
            </section>
          {% endblock %}
          
          {% block pagefooter %}
          {% endblock %}
        
        {% endblock %}
      </main>
    {% endblock %}

    {% block footer %}
      {% include 'footer.twig' %}
    {% endblock %}
    
    {{ function('wp_footer') }}
    
    <script type='text/javascript' src='{{theme.link}}/assets/js/woo/woo.js'></script>
    
    {% block spec_scripts %}
    {% endblock %}
    
    <script>
      // website preloader animation
      window.onload = function(){
        document.getElementById("ThemePreload").classList.add("hidden");
        document.getElementsByTagName("BODY")[0].classList.remove("no-overflow");
      }
    </script>
    
  </body>
    
</html>