<!DOCTYPE html>
<html {{site.language_attributes}}>

  <head>
    
    <meta charset="{{site.charset|e('html_attr')}}" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Poppins:wght@400;600;700;800&display=swap" rel="stylesheet">
    
    {{ function('wp_head') }}
    
    {% block spec_styles %}
    {% endblock %}
  
    <!-- inline styles -->
    <style>
      #ProductFilters label {
        cursor: pointer;
      }
      .woocommerce-notices-wrapper {
        margin-bottom: 10px;
      }
      /* product boxes */
      .cpb_product_boxes_custom .cpb-boxes .cpb-inner {
        background: #f7fbf9;
        border: none;    
      }
      .cpb_product_boxes_custom .cpb-boxes .cpb-inner:hover:before {
        background: #20865f2e;
      }
      .cpb_product_boxes_custom .cpb-items .cpb-inner:hover .cpb-item-image:before {
        background-position: center 50%;
      }
      .cpb-custom-product-boxes-items .cpb-row {
        display: flex;
        flex-wrap: wrap;
        margin-right: unset;
        margin-left: -15px;
      }
      .right-boxes .uk-card {
        background: #fff;
        box-shadow: 0 14px 25px #00000029;
      }
      .cpb-boxes .uk-grid-column-small>*, .cpb-boxes.uk-grid-small>* {
        padding-left: 5px;
      }
      .cpb-boxes.uk-grid-small>.uk-grid-margin {
        margin-top: 5px;
      }
      span.cpb_category_filters_item {
        margin: 0 25px 0 0px;
        display: inline-block;
      }
      span.woocommerce-Price-amount {
        font-weight: 700;
      }
      .cpb_product_boxes_custom .cpb-boxes .cpb-inner:hover:before {
        opacity: 1;
        cursor: pointer;
        z-index: 100;
        background-image: url(/wp-content/plugins/custom-product-boxes/assets/images/remove-icon-light.png);
        background-position: center 45%!important;
        background-repeat: no-repeat!important;
        background-size: 50px!important;
      }
      .woocommerce .cpb-item-image img {
        border: 4px double #e8e8e8;
      }
      /* product image */
      /* .woocommerce div.product div.images img {
        height: 420px;
        width: 100%;
        object-fit: cover;
      } */
      .uk-light, .uk-overlay-primary {
        color: hsla(0,0%,100%,.9);
      }
      #PageTitleSection {
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        /* background-color: #6abe52;
        background-blend-mode: luminosity; */
      }
      
      .uk-panel-scrollable {
        display: block;
        position: relative;
        width: 100%;
        height: auto;
        max-height: 300px;
        /* overflow: scroll; */
        padding: 0;
        border: none;
      }
      
      .list-item .onsale {
      	margin-bottom: 10px;
      }
      
      .search-results-ajax ul li a, .search-results-ajax ul li a:hover {
        font-weight: 400!important;
      }
      .search-results-ajax strong {
        color: #6abe52;
      }
      
      /* #PageTitleSection .uk-overlay-primary {
        background: linear-gradient(0deg,rgb(106 190 82 / 86%) 100%,transparent);
      } */
    </style>
      
  </head>

  <body class="{{ body_class|e('html_attr') }} no-overflow" data-template="base.twig">
    <div id="ThemePreload" class="theme-preload"></div>

    {% block header %}
      {% include 'header.twig' %}
    {% endblock %}
    
    {% block main %}
      <main id="MainContent">
        {% block content %}
          <div class="block-content_wrap">
        
            {% block pageheader %}
            {% endblock %}
              
            {% block content_outer %}
              <section id="PageContent" class="uk-container">
                {% block content_inner %}
                  <p>Sorry, Nothing to Display!!</p>
                {% endblock %}
              </section>
            {% endblock %}
            
            {% block pagefooter %}
            {% endblock %}
            
          </div>
        {% endblock %}
      </main>
    {% endblock %}

    {% block footer %}
      {% include 'footer.twig' %}
    {% endblock %}
    
    {{ function('wp_footer') }}
    
    {% block spec_scripts %}
    {% endblock %}
    
    <!-- site preloader loader anim -->
    <script>
      window.onload = function(){
        document.getElementById("ThemePreload").classList.add("hidden");
        document.getElementsByTagName("BODY")[0].classList.remove("no-overflow");
      }
    </script>
    
  </body>
    
</html>