{{ fn('timber_set_product', post) }}

<article id="product-{{post.id|e('html_attr')}}" class="entry list-item item {{post.class|e('html_attr')}}" data-template="tease-product-list.twig">
	<div class="uk-card uk-card-hover uk-card-body uk-padding-small theme-border uk-grid-match uk-grid-collapse" uk-grid>
		
		{% do action( 'woocommerce_before_shop_loop_item' ) %}
		
		<div class="uk-width-1-5">
			<a class="single-product-image-link" href="{{ post.link|e('esc_url') }}">
				<img data-src="{{ post.thumbnail.src|resize(236, 293)|e('esc_url') }}" class="tease-product-image" alt="{{ post.thumbnail.alt|e('html_attr') }}" uk-img>
			</a>
		</div>
		
		<div class="uk-width-expand">
      <div class="uk-margin-left">
  			<div class="uk-position-relative uk-inline uk-width-1-1 tease-list-content">

  				{% do action( 'woocommerce_shop_loop_item_title' ) %}
            
          <div class="labels-wrap">
            {% do action( 'woocommerce_before_shop_loop_item_title' ) %}
          </div>
          
  				<h3 class="uk-card-title uk-margin-remove">
  					<a class="uk-link-heading" href="{{ post.link|e('esc_url') }}">{{ post.title|e('esc_html') }}</a>
  				</h3>
          
          <p class="uk-article-meta uk-margin-small-top uk-margin-remove-bottom">{{ post.terms( {query:{taxonomy:'product_cat', orderby:'name', order: 'ASC'}} )|join(', ')|e('esc_html') }}</p>
          
          <div class="uk-text-right uk-position-top-right">
            <div class="">
              {% do action( 'woocommerce_after_shop_loop_item_title' ) %}
            </div>
          </div>

  				<div class="uk-position-bottom-left">
  					<a href="{{ post.link|e('esc_url') }}">View this product</a>
  				</div>
          
  				<div class="tease-product-buttons uk-position-bottom-right">
  					{% do	action( 'woocommerce_after_shop_loop_item' ) %}
  				</div>
          
  			</div>
    	</div>
		</div>
		
	</div>
</article>