<style>
  /* footer */
  .organic-social-icons a.icon {
    padding: 5px;
    background-color: rgba(92,92,92,0.15);
    border-radius: 100%;
    transition: background-color 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  }
  .organic-social-icons a.icon:hover {
    padding: 5px;
    background-color: rgba(92,92,92,0.05);
  }
</style>
<!--FOOTER-->
<footer class="uk-section uk-section-small uk-section-muted">
  <div class="uk-container">
    <div class="uk-child-width-1-2@s uk-child-width-1-5@m" uk-grid>
      <div>
        <div class="organic-social-icons">
        	<a class="icon uk-margin-small-right uk-link-reset" uk-icon="facebook"></a>
        	<a class="icon uk-margin-small-right uk-link-reset" uk-icon="twitter"></a>
        	<a class="icon uk-margin-small-right uk-link-reset" uk-icon="mail"></a>
        </div>
        <!-- {% if sidebar_footer_1 %}
          {{ sidebar_footer_1 }}
        {% else %}
          <h3 class="uk-text-bold uk-text-muted widget-title">Footer 1</h3>
          <p>Add some widgets to the Footer Widget Area 1</p>
        {% endif %} -->
      </div>
      <div>
        <ul class="uk-nav uk-nav-default uk-nav-parent-icon" uk-nav>
        	<li><a href="/">Home</a></li>
        	<li><a href="/shop">Shop</a></li>
        	<li><a href="/about">About</a></li>
        	<li><a href="/contact">Contact</a></li>
        </ul>
        <!-- {% if sidebar_footer_2 %}
          {{ sidebar_footer_2 }}
        {% else %}
          <h3 class="uk-text-bold uk-text-muted widget-title">Footer 2</h3>
          <p>Add some widgets to the Footer Widget Area 2</p>
        {% endif %} -->
      </div>
      <div>
        <ul class="uk-nav uk-nav-default uk-nav-parent-icon" uk-nav>
        	<li><a href="/blog">Blog</a></li>
        	<li><a href="/category/recipes/">Recipes</a></li>
        	<li><a href="/market">Find our Market</a></li>
        	<li><a href="/conduct">Code of Conduct</a></li>
        </ul>
        <!-- {% if sidebar_footer_3 %}
          {{ sidebar_footer_3 }}
        {% else %}
          <h3 class="uk-text-bold uk-text-muted widget-title">Footer 3</h3>
          <p>Add some widgets to the Footer Widget Area 3</p>
        {% endif %} -->
      </div>
      <div>
        <ul class="uk-nav uk-nav-default uk-nav-parent-icon" uk-nav>
        	<li><a href="/shipping">Shipping</a></li>
        	<li><a href="/returns">Returns</a></li>
        	<li><a href="/faqs">FAQ's</a></li>
        	<li><a href="/feedback">Submit Feedback</a></li>
        </ul>
        <!-- {% if sidebar_footer_4 %}
          {{ sidebar_footer_4 }}
        {% else %}
          <h3 class="uk-text-bold uk-text-muted widget-title">Footer 4</h3>
          <p>Add some widgets to the Footer Widget Area 4</p>
        {% endif %} -->
      </div>
      <div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing.</p>
        <!-- {% if sidebar_footer_5 %}
          {{ sidebar_footer_5 }}
        {% else %}
          <h3 class="uk-text-bold uk-text-muted widget-title">Footer 5</h3>
          <p>Add some widgets to the Footer Widget Area 5</p>
        {% endif %} -->
      </div>
    </div>
    <div class="uk-margin-large-top">
      <div class="uk-grid-collapse" uk-grid>
        <div id="FooterBottomLeft" class="uk-width-1-2@m uk-text-small uk-text-center uk-text-left@s">
          <p>© Copyright 2020 - <a href="/" class="uk-text-bold">Some Text</a></p>
          <!-- {% if sidebar_footer_left %}
            {{ sidebar_footer_left }}
          {% else %}
            <p>Add some widgets to the Footer Bottom Left Widget Area</p>
          {% endif %} -->
        </div>
        <div id="FooterBottomRight" class="uk-width-1-2@m uk-text-small uk-text-center uk-text-right@s">
          <p>Some link to <a href="#" class="uk-text-bold">The Developers!</a></p>
          <!-- {% if sidebar_footer_right %}
            {{ sidebar_footer_right }}
          {% else %}
            <p>Add some widgets to the Footer Bottom Right Widget Area</p>
          {% endif %} -->
        </div>
      </div>
    </div>
  </div>
</footer>
<!--/FOOTER-->
