{% extends 'base.twig' %}
{% block content %}

<div data-template="contact.twig">
  
    {% include 'breads.twig' %}

    {% include 'site-notice.twig' %}
      
    <div class="uk-section uk-section-small">
      
        <div class="uk-container uk-container-small">
          
            <article id="page-{{post.ID}}" class=" uk-article {{post.class}}">
              
                <h1 class="uk-article-title page-title uk-text-uppercase uk-margin-medium-bottom uk-heading-line"><span>{{post.title}}</span></h1>

                <div class="the-content uk-margin-bottom">
                  
                    <div uk-grid>
                    
                        <div class="uk-width-2-3@m">
                          
                            <h3 class="uk-heading-line"><span>Email us:</span></h3>
                          
                            <ul uk-tab uk-switcher>
                                <li><a href="#">General Information</a></li>
                                <li><a href="#">Orders</a></li>
                                <li><a href="#">Deliveries</a></li>
                            </ul>
                            
                            <ul class="uk-switcher uk-margin">
                                <li>{{ function('do_shortcode', '[contact-form-7 id="14" title="Information"]') }}</li>
                                <li>{{ function('do_shortcode', '[contact-form-7 id="8307" title="Orders"]') }}</li>
                                <li>{{ function('do_shortcode', '[contact-form-7 id="8308" title="Deliveries"]') }}</li>
                            </ul>
                        
                        </div>
                        
                        <div class="uk-width-1-3@m">
                        
                            <h4 class="uk-heading-line"><span>Our Locations:</span></h4>
                          
                            <p>
                                Fairgreen Shopping Centre,<br>
                                Mullingar,<br>
                                Co.Westmeath.
                            </p>
                          
                            <p>
                                Sheridans Cheesemongers,<br>
                                Kells,<br>
                                Co.Meath.
                            </p>
                            
                            <h4 class="uk-heading-line"><span>Contact Info:</span></h4>
                          
                            <p>
                                Willie,<br>
                                <a href="mailto:info@organicforhealth.ie">info@organicforhealth.ie</a>
                            </p>
                        
                        </div>
                      
                    </div>

                </div>
            
            </article>
          
        </div>

    </div>
  
</div>

{% endblock  %}