{% extends "base.twig" %}

{% block content %}

<div class="uk-container" data-template="wide-template.twig">
  
  {% include 'breads.twig' %}
    
  <div class="uk-section uk-section-small">
      
    <article id="page-{{post.ID}}" class=" uk-article {{post.class}}">
      
      <h1 class="uk-article-title page-title">{{post.title}}</h1>
      
      <hr class="uk-divider-small">
      
      <div class="article-content">
        
        {% if post.thumbnail %}
        <figure>
          <img data-src="{{ post.thumbnail.src('organic-theme-wide-template-featured-image') }}" width="1000" height="500" alt="{{ post.thumbnail.alt }}" uk-img>
        </figure>
        {% endif %}
        
        {{post.content}}

      </div>
    
    </article>

  </div>
  
</div>

{% endblock  %}