<div id="ToolbarNav" class="uk-margin-bottom" data-template="shop-toolbar.twig">
  
  <div class="desktop-toolbar uk-visible@s">
    <nav id="ShopToolbar" class="uk-navbar-container uk-navbar-transparent" uk-navbar>
      
      <div id="ShopToolbarLeft" class="uk-navbar-left pull-left-15">
        {% if product_sort_var_exists %}
        <div class="uk-navbar-item min-height-40">
          <a href="{{ function ('remove_query_arg', ['orderby', '_pjax'])|e('esc_url') }}" data-pjax>
            <span class="uk-badge">Sorting - <span class="filter-badge badge-sort"></span>
              <span uk-icon="icon: close;ratio: 0.8;" class="uk-margin-small-left uk-icon"></span>
            </span>
          </a>
        </div>
        {% endif %}
        {% if product_cat_var %}
          <div class="uk-navbar-item min-height-40">
            <a href="{{ function ('remove_query_arg_product_cats_for_filters') }}" data-pjax>
              <span class="uk-badge">Category - <span class="filter-badge badge-cat"></span>
                <span uk-icon="icon: close;ratio: 0.8;" class="uk-margin-small-left uk-icon"></span>
              </span>
            </a>
          </div>
        {% endif %}
        {% if product_gridlist_var_exists %}
        <div class="uk-navbar-item min-height-40">
          <a href="{{ function ('remove_query_arg', ['grid_list', '_pjax'])|e('esc_url') }}" data-pjax>
            <span class="uk-badge">Shop View - <span class="filter-badge badge-view"></span>
              <span uk-icon="icon: close;ratio: 0.8;" class="uk-margin-small-left uk-icon"></span>
            </span>
          </a>
        </div>
        {% endif %}
      </div>
      
      <div id="ShopToolbarRight" class="uk-navbar-right pull-right-15">
        <div id="GridList" class="uk-navbar-item min-height-40">
          <a href="{{ add_query_arg_grid_view }}" data-type="grid_list" data-name="Grid View" class="grid-toggle uk-button uk-button-default uk-button-small padding-0-10 uk-margin-small-right {{ grid_active_class }}" data-pjax><span uk-icon="grid"></span></a>
          <a href="{{ add_query_arg_list_view }}" data-type="grid_list" data-name="List View" class="list-toggle uk-button uk-button-default uk-button-small padding-0-10 {{ list_active_class }}" data-pjax><span uk-icon="icon: list"></span></a>
        </div>
      </div>
    </nav>
  </div>
  
</div>