<div id="HeaderBottom" class="header-bottom uk-visible@m theme-bg-darker boundary-align" data-template="header-bottom.twig">
  <div class="uk-container">
    <nav class="uk-navbar-container uk-navbar-transparent" uk-navbar>
      <div class="uk-navbar-left">
        <ul class="uk-navbar-nav the-main-menu pull-left-20">
          
          {% if has_menu_main %}
            
            {% for item in menu_main.get_items %}
            
              {% if item.get_children %}
              
                <li class="uk-light {{ item.classes | join(' ') }}"><a href="{{ item.link }}">{{ item.title }}<i class="fas fa-angle-down menu-dropicon"></i></a>
                  <div class="uk-navbar-dropdown">
                    <ul class="uk-nav uk-navbar-dropdown-nav">
                      {% for child in item.get_children %}
                      <li>
                        <a href="{{ child.get_link }}">{{ child.title }}</a>
                          {% if child.children %}
                          <ul class="uk-nav-sub">
                            {% for third in child.children %}
                            <li>
                              <a href="{{ third.get_link }}">{{ third.title }}</a>
                            </li>
                            {% endfor %}
                          </ul>
                          {% endif %}
                      </li>
                      {% endfor %}
                    </ul>
                  </div>
                </li>
              
              {% elseif item.mega_menu == 'yes' %}
              
              <li class=" {{ item.classes | join(' ') }}">
                
                <a class="uk-light" title="{{ item.title }}" href="{{ item.get_link }}">{{ item.title }}<i class="fas fa-angle-down menu-dropicon"></i></a>
                
                {% set the_menu = function('get_post', item.select_mega_menu ) %}
              
                <div uk-drop="pos: bottom-justify; boundary: .boundary-align; boundary-align: true;offset: 0" class="theme-border-bottom">
                  <div class="uk-padding uk-background-default">
                    <div class="uk-container">
                      
                      {{the_menu.post_content}}
                      
                    </div>
                  </div>
                </div>
                
              </li>
              
              {% else %}
              
                <li class=" {{ item.classes | join(' ') }}"><a class="uk-light" title="{{ item.title }}" href="{{ item.get_link }}">{{ item.title }}</a></li>
              
              {% endif %}
            
            {% endfor %}
          
          {% else %}
            <p class="uk-margin-remove uk-light">Add a menu to the Main Menu slot in Appearance > Menus</p>
          {% endif %}
        </ul>
      </div>
      <div class="uk-navbar-right uk-light"></div>
    </nav>
  </div>
</div>