<header id="SiteHeader">
  
    <div id="HeaderTop" class="top-bar darker-bg-primary uk-text-center uk-light">
        <div class="uk-container">
            For more info on deliveries, <a href="/delivery">click here</a>. For refunds & returns, <a href="/refunds-returns-policy">click here</a>.
        </div>
    </div>
    
    <div id="HeaderMain" class="header-main uk-section uk-section-small uk-background-primary uk-visible@m">
        <div class="uk-container">
            <div class="desktop-header-grid" uk-grid>
                <div class="logo-left uk-width-1-2 uk-inline uk-light">
                    
                    <a class="uk-logo uk-text-bold uk-text-emphasis uk-position-center-left padding-left-40" title="{{ site.title }}" href="{{ site.url }}"><img data-src="/wp-content/themes/organicwp-theme/assets/images/organicforhealth-logo.png" uk-img=""> <span class="logo-title-text">{{ site.title }}</span></a>
                </div>
                <div class="search-navs-right uk-width-1-2">
                    <div class="account-links uk-text-right uk-margin-small-bottom uk-light">
                        {% if not user %}
                        <a href="/my-account">Login / Register</a>
                        {% else %}
                        <a href="/my-account">My Account</a>
                        {% endif %}
                    </div>
                    <nav class="search-cart uk-navbar-container uk-navbar-transparent uk-margin" uk-navbar>
                        <div class="uk-navbar-right">
                            <div class="uk-navbar-item height-content pull-right-30">
                                <form role="search" method="get" action="{{site.url}}">
                                    <div class="uk-inline uk-light">
                                        <a class="uk-form-icon uk-form-icon-flip uk-link-reset"><i class="fas fa-search fa-lg"></i></a>
                                        <input class="uk-input uk-form-width-medium" type="text" placeholder="Search for products" id="SearchDesktop" name="s" autocomplete="off">
                                    </div>
                                </form>
                            </div>
                            {% if is_cart or is_checkout  %}
                            <div class="uk-navbar-item height-content pull-right-15">
                                <a class="cart-icon uk-margin-left uk-light" href="/basket" aria-expanded="false"><i class="fas fa-shopping-cart fa-2x"></i></a>
                                {% do action('cart_ajax_result_count') %}
                            </div>
                            {% else %}
                            <div class="uk-navbar-item height-content pull-right-15">
                                <a class="cart-icon uk-margin-left uk-light" aria-expanded="false" href="#modal-overflow" uk-toggle><i class="fas fa-shopping-cart fa-2x"></i></a>
                                {% do action('cart_ajax_result_count') %}
                            </div>
                            <div id="CartNavDropdown" class="uk-padding-remove" uk-dropdown>
                                <div class="widget_shopping_cart_content">{{ function('woocommerce_mini_cart') }}</div>
                            </div>
                            {% endif %}
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    
    <div id="HeaderBottom" class="header-bottom uk-light uk-visible@m darker-bg-primary">
        <div class="uk-container">
            <nav class="uk-navbar-container uk-navbar-transparent" uk-navbar>
              <div class="uk-navbar-left pull-left-15">
                  <ul class="uk-navbar-nav">
                      {% if has_menu_main %}
                      {% for item in menu_main.get_items %}
                      {% if item.get_children %}
                      <li class="{{ item.classes | join(' ') }}"><a href="{{ item.link }}">{{ item.title }}<span data-uk-icon="icon: triangle-down"></span></a>
                          <div class="uk-navbar-dropdown">
                              <ul class="uk-nav uk-navbar-dropdown-nav">
                                  {% for child in item.get_children %}
                                  <li><a href="{{ child.get_link }}">{{ child.title }}</a>
                                      {% if child.children %}
                                      <ul class="uk-nav-sub">
                                          {% for third in child.children %}
                                          <li>
                                              <a href="{{ third.get_link }}">{{ third.title }}</a>
                                          </li>
                                          {% endfor %}
                                      </ul>
                                      {% endif %}
                                  </li>
                                  {% endfor %}
                              </ul>
                          </div>
                      </li>
                      {% else %}
                      <li class="{{ item.classes | join(' ') }}"><a title="{{ item.title }}" href="{{ item.get_link }}">{{ item.title }}</a></li>
                      {% endif %}
                      {% endfor %}
                      {% endif %}
                  </ul>
              </div>
              <div class="uk-navbar-right"></div>
            </nav>
        </div>
    </div>
    
    <div id="HeaderMobile" class="header-mobile uk-background-primary uk-hidden@m">
        <div uk-sticky="sel-target: .my-sticky-nav; cls-active: uk-navbar-sticky">
            <nav class="my-sticky-nav uk-container uk-light" uk-navbar>
                <div class="uk-navbar-left">
                    <a class="uk-navbar-toggle uk-navbar-item uk-text-emphasis" data-uk-toggle href="#offcanvas-nav"><i class="fas fa-bars fa-lg"></i><span class="uk-flex-last push-left-7">Menu</span></a>
                    <div id="offcanvas-nav" data-uk-offcanvas="flip: true; overlay: true">
                      <div class="uk-offcanvas-bar uk-offcanvas-bar-animation uk-offcanvas-slide dark-bg-black">
                        <a uk-toggle="target: #offcanvas-nav" class="close-icon-header"><i class="fas fa-times fa-2x"></i></a>
                        <ul class="uk-nav-default uk-nav-parent-icon uk-position-relative" uk-nav>
                            {% if has_menu_mobile %}
                            <li class="uk-nav-header uk-text-uppercase uk-text-bold uk-margin-small-bottom">MENU</li>
                            {% for item in menu_mobile.get_items %}
                            {% if item.get_children %}
                            <li class="{{ item.classes | join(' ') }} uk-parent"><a href="{{ item.link }}">{{ item.title }}</a>
                                <ul class="uk-nav-sub">
                                    {% for child in item.get_children %}
                                    <li><a href="{{ child.get_link }}">{{ child.title }}</a></li>
                                    {% endfor %}
                                </ul>
                            </li>
                            {% else %}
                            <li class="{{ item.classes | join(' ') }}"><a title="{{ item.title }}" href="{{ item.get_link }}">{{ item.title }}</a></li>
                            {% endif %}
                            {% endfor %}
                            {% endif %}
                            <li class="uk-nav-divider"></li>
                            <li>
                                <form role="search" method="get"  class="uk-margin-top" action="{{site.url}}">
                                    <div class="uk-inline uk-light">
                                        <a class="uk-form-icon uk-form-icon-flip uk-link-reset"><i class="fas fa-search fa-lg"></i></a>
                                        <input class="uk-input uk-form-width-medium" type="text" placeholder="Search for products" id="SearchMobile" name="s" autocomplete="off">
                                    </div>
                                </form>
                            </li>
                        </ul>
                      </div>
                    </div>
                </div>
                <div class="uk-navbar-right">

                    {% if not user %}
                    <div class="uk-navbar-item">
                        <a href="/my-account">Login / Register</a>
                    </div>
                    {% else %}
                    <div class="uk-navbar-item">
                        <a href="/my-account">My Account</a>
                    </div>
                    {% endif %}
                  
                    {% if is_cart or is_checkout  %}
                    <div class="uk-navbar-item">
                        <a class="cart-icon uk-icon uk-margin-left uk-light" aria-expanded="false"><i class="fas fa-shopping-cart fa-2x"></i></a>
                        {% do action('cart_ajax_result_count') %}
                    </div>
                    {% else %}
                    <div class="uk-navbar-item">
                        <a class="cart-icon uk-icon uk-margin-left uk-light" aria-expanded="false" href="#modal-overflow" uk-toggle><i class="fas fa-shopping-cart fa-2x"></i></a>
                        {% do action('cart_ajax_result_count') %}
                    </div>
                    {% endif %}
                </div>
            </nav>
        </div>
        <div class="uk-section uk-text-center uk-light padding-bottom-20 header-mobile-title-section">
            <a class="uk-logo uk-text-bold uk-text-emphasis font-1-5" title="{{ site.title }}" href="{{ site.url }}">{{ site.title }}</a>
        </div>
    </div>
    
    <div id="modal-overflow" class="header-modal-sidebar-cart" uk-modal>
        <div class="uk-modal-dialog">
            <div class="uk-modal-body padding-20 height-content" uk-overflow-auto>
                {% include 'sidebar-cart.twig' %}
            </div>
        </div>
    </div>
    
</header>