<aside id="ProductFilters" >
  
  <h3 class="uk-h4">Sorting:</h3>
  {% do action('woocommerce_before_shop_loop') %}
  
  <hr>

  <h3 class="uk-h4">Categories:</h3>
  <ul class="uk-nav uk-nav-default uk-height-medium uk-overflow-auto uk-margin-small-bottom cat-list">

    {% for cat in function('product_cats_for_filters') %}
    
      {% if function ('product_cat_has_children', cat.term_id) %}
      
        <li class="uk-parent">
          
          <a>
            <label>
              <input 
              data-link="{{ function ('add_query_arg_product_cats_for_filters', cat.slug)|e('esc_url') }}" 
              onclick="quickLoad(event);"  
              data-type="product_cat" 
              data-name="{{ cat.name|e('html_attr') }}" 
              class="uk-radio {% if function('get_query_var', 'product_cat') == cat.slug %}here{% endif %}" 
              type="radio" 
              {% if function('get_query_var', 'product_cat') == cat.slug %}checked{% endif %}
              > {{ cat.name|e('esc_html') }}
            </label>
            
            <ul class="uk-nav-sub">
              
              {% for sub_cat in function ('sub_cats_for_filters', cat.term_id) %}
                <li>
                  <a>
                    <label>
                      <input 
                      data-link="{{ function ('add_query_arg_product_cats_for_filters', sub_cat.slug)|e('esc_url') }}" 
                      onclick="quickLoad(event);" 
                      data-name="{{ sub_cat.name|e('html_attr') }}" 
                      data-type="product_cat" 
                      class="uk-radio {% if function('get_query_var', 'product_cat') == sub_cat.slug %}here{% endif %}" 
                      type="radio" 
                      {% if function('get_query_var', 'product_cat') == sub_cat.slug %}checked{% endif %}
                      > {{ sub_cat.name|e('esc_html') }}
                    </label>
                  </a>
                </li>
              {% endfor %}
              
            </ul>
            
          </a>
          
        </li>
        
      {% else %}
      
        <li>
          <a>
            <label>
              <input 
              class="uk-radio {% if function('get_query_var', 'product_cat') == cat.slug %}here{% endif %}" 
              data-link="{{ function ('add_query_arg_product_cats_for_filters', cat.slug)|e('esc_url') }}" 
              onclick="quickLoad(event);" 
              data-type="product_cat" 
              data-name="{{ cat.name|e('html_attr') }}" 
              type="radio" 
              {% if function('get_query_var', 'product_cat') == cat.slug %}checked{% endif %}
              > {{ cat.name|e('esc_html') }}
            </label>
          </a>
        </li>
        
      {% endif %}
      
    {% endfor %}
    
    {% if function('product_cats_for_filters') is empty %}
      <li>Add some products to some categories</li>
    {% endif %}
    
  </ul>
  <a class="uk-link-text uk-text-primary uk-text-small filters-reset-link" data-link="{{ function ('remove_query_arg', 'product_cat')|e('esc_url')|e('esc_url') }}" onclick="quickLoad(event);">Reset</a>

</aside>