{% extends "base.twig" %}

{% block pageheader %}
  {% include 'header-page.twig' %}
{% endblock %}

{% block content_inner %}

  <article id="page-{{post.id|e('html_attr')}}" class="uk-article uk-section uk-section-small {{post.class|e('html_attr')}}" data-template="page.twig">
    
    <h1 class="uk-article-title page-title">{{post.title|e('esc_html')}}</h1>
    
    <hr class="uk-divider-small">
    
    <div class="article-content">
      {% if post.thumbnail %}
        <figure>
          <img data-src="{{ post.thumbnail.src('organic-theme-featured-image-archive')|e('esc_url') }}" width="800" height="300" alt="{{ post.thumbnail.alt|e('html_attr') }}" uk-img>
        </figure>
      {% endif %}
      {{post.content}}
    </div>
  
  </article>

{% endblock  %}