{% extends "base.twig" %}

{% block spec_styles %}

  {% set default_header_bg = '/assets/images/stock/field.jpg' %}
  
  {% if post.thumbnail %}
    {% set header_bg = post.thumbnail.src %}
  {% else %}
    {% set header_bg = theme.link ~ '/assets/images/stock/field.jpg' %}
  {% endif %}
  
  <style>
    #PageTitleSection {
      background-image: url('{{header_bg}}');
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }
  </style>
  
{% endblock %}

{% block pageheader %}
  <section id="PageTitleSection">
    <div class="uk-overlay-primary uk-light uk-width-1-1">
      <div class="uk-section uk-secton-large">
        <div class="uk-container uk-text-center">
          <div class="">
            <h1 class="uk-margin-small-top uk-h1">{{ post.title }}</h1>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}

{% block content_inner %}

  <article id="page-{{post.ID}}" class="uk-article uk-section uk-section-small {{post.class}}" data-template="page.twig">
    
    <h1 class="uk-article-title page-title">{{post.title}}</h1>
    
    <hr class="uk-divider-small">
    
    <div class="article-content">
      {% if post.thumbnail %}
        <figure>
          <img data-src="{{ post.thumbnail.src('organic-theme-featured-image-archive') }}" width="800" height="300" alt="{{ post.thumbnail.alt }}" uk-img>
        </figure>
      {% endif %}
      {{post.content}}
    </div>
  
  </article>

{% endblock  %}