{% extends "base.twig" %}

{% block pageheader %}
  {% include 'header-page.twig' %}
{% endblock %}

{% block content_inner %}
      
  <article id="single-{{post.id|e('html_attr')}}" class="uk-article uk-section uk-section-small uk-container uk-container-small {{post.class|e('html_attr')}}" data-template="single.twig">
    
    <h1 class="uk-article-title page-title">{{post.title|e('esc_html')}}</h1>
    
    <p class="uk-article-meta">
      Written on {{post.date | date|e('esc_html')}}. Posted in
      {% for category in post.categories %}
      
        {% if not loop.last %}
          <a title="{{ category|e('html_attr') }}" href="{{ category.link|e('esc_url') }}">{{ category|e('esc_html') }}</a>,
        {% endif %}
      
        {% if loop.last %}
          <a title="{{ category|e('html_attr') }}" href="{{ category.link|e('esc_url') }}">{{ category|e('esc_html') }}</a>
        {% endif %}
        
      {% endfor %}
    </p>
    
    <div class="article-content">
      
      {{post.content|e('wp_kses_post')}}

    </div>

  </article>

{% endblock  %}