{# 

woocommerce_before_shop_loop_item.
* @hooked woocommerce_template_loop_product_link_open - 10 - REMOVED

woocommerce_before_shop_loop_item_title.
* @hooked woocommerce_show_product_loop_sale_flash - 10
* @hooked woocommerce_template_loop_product_thumbnail - 10 - REMOVED: outputting image html using twig instead

woocommerce_shop_loop_item_title.
* @hooked woocommerce_template_loop_product_title - 10 - REMOVED: outputting title html using twig instead, weird issue with titles when using default hook

woocommerce_after_shop_loop_item_title.
* @hooked woocommerce_template_loop_rating - 5
* @hooked woocommerce_template_loop_price - 10

woocommerce_after_shop_loop_item.
* @hooked woocommerce_template_loop_product_link_close - 5  - REMOVED
* @hooked woocommerce_template_loop_add_to_cart - 10

#}

{{ fn('timber_set_product', post) }}
<div id="ProductItem" {{ fn('post_class', ['entry', 'list-item', 'item'] ) }}>
  <div class="uk-card uk-card-hover uk-grid-collapse uk-margin" uk-grid>
    {% do action('woocommerce_before_shop_loop_item') %}
    <div id="ProductMedia" class="uk-width-1-4 uk-card-media-left uk-cover-container">
      <a href="{{ post.link }}">
        <img data-src="{{ post.thumbnail.src }}" alt="{{ post.thumbnail.alt }}" class="list-img" uk-cover uk-img>
      </a>
      {% do action('woocommerce_before_shop_loop_item_title') %}
    </div>
    <div id="ProductInfo" class="uk-card-body uk-width-expand" style="padding: 40px 20px 40px 40px;">
      <div uk-grid>
        <div class="uk-width-2-3">

          <div id="ShopProductTitle" class="uk-margin-small-bottom">
            <h3 class="uk-card-title"><a class="uk-link-heading" href="{{ post.link }}">{{ post.title }}</a></h3>
          </div>
          
          {% do action('list_product_rating') %}

          <div class="uk-margin-small-bottom">
            <p>{{ post.preview.read_more('') }}</p>
            <a href="{{post.link}}" title="Read More" class="">Read More details about this Product</a>
          </div>

        </div>
        <div class="uk-width-expand">
          
          {% do action('list_product_price') %}
          
          {% do action('list_product_add_to_cart') %}
          
        </div>
      </div>
    </div>
  </div>
</div>