<footer class="the-footer uk-section uk-section-small uk-section-muted uk-position-relative" data-template="footer.twig">
  <div class="uk-container uk-position-relative">
    
    <div uk-grid>
      
      <div class="uk-width-1-6@m footer-first">
        
        {% if has_menu_footer %}
        
          <h4>{{menu_footer.title}}</h4>
        
          <ul class="uk-nav uk-nav-default" uk-nav>
          
            {% for item in menu_footer.get_items %}
              
              <li class=" {{ item.classes | join(' ') }}">
                <a title="{{ item.title }}" href="{{ item.get_link }}">{{ item.title }}</a>
              </li>
            
            {% endfor %}
          
          </ul>
        
        {% else %}
        
          <h4>Unde omnis</h4>
          <ul class="uk-nav uk-nav-default" uk-nav>
            <li><a href="#">Lorem ipsum dolor</a></li>
            <li><a href="#">Sed ut perspiciatis</a></li>
            <li><a href="#">Voluptatem accusantium</a></li>
            <li><a href="#">Natus error sit</a></li>
            <li><a href="#">Ut perspiciatis unde</a></li>
          </ul>
          
        {% endif %}
        
      </div>
      
      <div class="uk-width-1-2@m">
        {% if footer_two %}
        	{{footer_two}}
        {% else %}
          <h4>Consectetur adipiscing</h4>
          <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit."</p>
          <p>"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium. Lorem ipsum dolor sit amet."</p>
        {% endif %}
      </div>
      
      <div class="uk-width-1-3@m footer-last">
        {% if footer_three %}
        	{{footer_three}}
        {% else %}
          <h4>Lorem ipsum</h4>
          <p>
            <img class="about-logo-image" src="https://via.placeholder.com/75" style="width:95px;" alt="">
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium. Lorem ipsum dolor sit amet.
          </p>
          <p>
            <a href="#">Lorem ipsum dolor sit amet consectetur <i class="fas fa-angle-right fa-xs" style="margin-left:-1px;"></i></a>
          </p>
        {% endif %}
      </div>
      
    </div>
    
    <div class="uk-margin-large-top">
      <div class="" uk-grid>
        
        <div id="FooterBottomLeft" class="uk-width-1-2@s uk-text-small uk-text-center uk-text-left@s">
          <p>© Copyright 2020 - <span class="uk-text-bold uk-text-primary">{{site.title}}</span></p>
        </div>
        
        <div id="FooterBottomRight" class="uk-width-1-2@s uk-text-small uk-text-center uk-text-right@s">
          <p>Developed by <a href="https://github.com/robmccormack89" target="_blank" class="uk-text-bold" rel="noopener noreferrer">Rob McCormack</a></p>
        </div>
        
      </div>
    </div>
    
  </div>
</footer>
