{% extends 'base.twig' %}

{% block spec_styles %}
  <link rel="stylesheet" href="{{theme.link|e('esc_url')}}/assets/css/lib/swiper-bundle.min.css" />
  <link rel="stylesheet" href="{{theme.link|e('esc_url')}}/assets/css/single-product.css" />
{% endblock %}

{% block content_outer %}

  <div class="uk-container" data-template="product-single.twig">

    {% include 'breads.twig' %}

    {% do action('woocommerce_before_single_product') %}
    
    <section class="uk-section uk-section-small">

      <div class="single-product-container uk-container uk-container-small">
          
        <div id="product-{{post.id|e('html_attr')}}" itemscope itemtype="http://schema.org/Product" class="single-product-details {{ post.class|e('html_attr') }}">

          <div class="uk-child-width-1-2@m" uk-grid="masonry: true;">
            
            <div class="product-left">
              {% do action('woocommerce_before_single_product_summary') %}
            </div>
            
            <div class="product-right">
              {% do action('woocommerce_single_product_summary') %}
            </div>
          
          </div>

        </div>
          
      </div>
      
    </section>
      
    {% do action('woocommerce_after_single_product_summary') %}
    
    <meta itemprop="url" content="{{ post.link|e('html_attr') }}" />
    
    {% if not related_products is empty %}
      <div class="uk-section uk-section-small">
        <div id="slideshow_related" class="swiper-container">
          <div class="swiper-wrapper">
            {% for post in related_products %}
              <div class="swiper-slide">
                {% include 'tease-product.twig' %}
              </div>
            {% endfor %}
            {% if related_products is empty %}
              <div class="swiper-slide">
                Content
              </div>
            {% endif %}
          </div>
          <!-- Add Pagination -->
          <div class="swiper-pagination"></div>
        </div>
      </div>
    {% endif %}
    
    {% if not up_sells is empty %}
      <section class="uk-section uk-section-small">
        <h2>{{up_sells_title|e('esc_html')}}</h2>
        <div uk-slider="velocity: 5">
          <div class="uk-position-relative">
            <div class="uk-slider-container">
              <ul class="uk-slider-items uk-child-width-1-4@m uk-grid uk-grid-small">
                {% for post in up_sells %}
                  {% include 'tease-product.twig' %}
                {% endfor %}
              </ul>
            </div>
            <div class="uk-visible@xl">
              <a class="uk-position-center-left-out uk-position-small" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
              <a class="uk-position-center-right-out uk-position-small" href="#" uk-slidenav-next uk-slider-item="next"></a>
            </div>
          </div>
          <ul class="uk-slider-nav uk-dotnav uk-flex-center uk-margin"></ul>
        </div>
      </section>
    {% endif %}
    
    {% do action('woocommerce_after_single_product') %}

  </div>

{% endblock  %}

{% block spec_scripts %}
  <script src="{{theme.link|e('esc_url')}}/assets/js/lib/swiper-bundle.min.js"></script>
  <script type="text/javascript" src="{{theme.link|e('esc_url')}}/assets/js/woo/single-product.js"></script>
{% endblock %}